{% extends 'base.html.twig' %}

{% block title %}Hello LibrarypageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<button type="button" class="btn btn-warning float-end" onclick="window.location.href = '{{url('loginprofilandemploye')}}';"> Deconnexion </button>

<div class="example-wrapper">
    <h1>Bibliothéque</h1>

 <div class="container mt-3">
    <input class="form-control" id="myInput" type="text" placeholder="recherche.."  
 </div>

 <div class="row">
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
       <img src="{{asset('asset/img/couverture1.jpg')}}" alt="Nature" style="width:100%">
       <div class="caption">
          <p>Retour de la momie</p>
          <p>Genre: fantastique<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img src="{{asset('asset/img/couverture2.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Les dents de la mer</p>
          <p>Genre: horreur<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="{{asset('asset/img/couverture3.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>L'horizon dormante</p>
          <p>Genre: Drama<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="{{asset('asset/img/couverture4.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>La chasse</p>
          <p>Genre: Découverte<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img src="{{asset('asset/img/couverture5.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Inception</p>
          <p>Genre: suspence<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="{{asset('asset/img/couverture6.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Le gôut du risque</p>
          <p>Genre: Action<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="{{asset('asset/img/couverture7.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Le seigneur de l'anneau</p>
          <p>Genre: Animation<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img src="{{asset('asset/img/couverture8.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Police Miami vice</p>
          <p>Genre: Policier<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="{{asset('asset/img/couverture9.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Ben et Richtie</p>
          <p>Genre: Comedie<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img src="{{asset('asset/img/couverture10.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Le temps gourmand</p>
          <p>Genre: Aventure</p>
        </div>
        <button type="button" class="btn btn-success">reservé</button>
      </a>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img src="{{asset('asset/img/couverture11.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Nouveau monde</p>
          <p>Genre: Drama<p>
        </div>
        <button type="button" class="btn btn-success">reservé</button>
      </a>
    </div>
  </div>
  <div class="col text-center">
    <div class="thumbnail">
      <a href="/w3images/fjords.jpg">
        <img src="{{asset('asset/img/couverture12.jpg')}}" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Agatha Cristy</p>
          <p>Genre: policier<p>
        </div>
      </a>
      <button type="button" class="btn btn-success">reservé</button>
    </div>
  </div>
</div>

{% endblock %}
